---
- import_tasks: install-dependencies.yml

- import_tasks: get-liberica-version-and-set-facts.yml

- import_tasks: install-4-linux.yml
  when: ansible_system == 'Linux'

- import_tasks: install-4-windows.yml
  when:
    - ansible_os_family == 'Windows'
  become: yes
  become_method: runas
  become_flags: logon_type=new_credentials logon_flags=netcredentials_only
  tags:
    - windows
    - bellsoft
    - java
    - jdk
    - jre
    - javafx
    - msi
